# https://httpd.apache.org/docs/current/mod/core.html
AddDefaultCharset utf-8
ErrorDocument 404 /404.html
FileETag None
ServerSignature Off

# https://httpd.apache.org/docs/current/mod/mod_expires.html
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 week"
</IfModule>

# https://httpd.apache.org/docs/current/mod/mod_mime.html
<IfModule mod_mime.c>
  AddType image/x-icon ico
</IfModule>

# https://httpd.apache.org/docs/current/mod/mod_deflate.html
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE image/x-icon text/css text/html
</IfModule>

# https://httpd.apache.org/docs/current/mod/mod_headers.html
<IfModule mod_headers.c>
  Header always set Content-Security-Policy "default-src 'self'; frame-ancestors 'none'; object-src 'none'"
  Header always set Permissions-Policy "interest-cohort=()"
  Header always set X-Content-Type-Options "nosniff"
  Header always set X-Frame-Options "DENY"
  Header always set X-XSS-Protection "1; mode=block"
</IfModule>
