a {
  color: #05d;
  text-decoration: none;
}

abbr {
  text-decoration: none;
}

blockquote {
  border-left-style: double;
  border-left-width: 0.25em;
  margin: 1.5em 0;
  padding-left: 1.25em;
}

body {
  background-color: #eee;
  color: #111;
  font-family: serif;
  font-size-adjust: 0.5;
  font-variant-numeric: oldstyle-nums;
  line-height: 1.5;
  margin: 3em 1.5em;
  text-size-adjust: none;
}

@media (min-width: 33em) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
  }
}

dd {
  margin: 0;
}

dl {
  margin: 1.5em 0 1.5em 1.5em;
}

dt {
  font-weight: bold;
}

footer {
  border-top-style: solid;
  border-top-width: 0.25em;
  margin: 3em 0;
  padding-top: 1.25em;
}

footer h2::before,
footer h3::before,
footer h4::before,
footer h5::before,
footer h6::before {
  content: none;
}

h1 {
  font-size: 240%;
  line-height: 1.25;
  margin: 1.25em 0;
}

h2,
h3 {
  font-size: 120%;
  font-style: normal;
  font-weight: bold;
  line-height: 1.25;
  margin: 1.25em 0;
}

h2::before,
h3::before {
  display: block;
}

h2 {
  counter-increment: h2;
  counter-reset: h3;
}

h2::before {
  content: counter(h2);
}

h3 {
  counter-increment: h3;
  counter-reset: h4;
}

h3::before {
  content: counter(h2) "\2e" counter(h3);
}

ol {
  counter-reset: olli;
  list-style-type: none;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

ol li::before {
  content: counters(olli, "\2e");
  counter-increment: olli;
  display: block;
  font-weight: bold;
}

ol ol {
  margin: 0;
}

p {
  margin: 1.5em 0;
}

q {
  quotes: "\ab" "\bb" "\2039" "\203a";
}

u {
  font-weight: bold;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 1.5em 0;
  padding-left: 3em;
  text-indent: -1.5em;
}
